:root{
    /* Background colors */
    --dark_Blue: #211C6A;
    --dark_Blue_With_Opacity: #211c6a;
    --light_Blue: #59B4C3;
    --green: #74E291;
    --yellow: #EFF396;

    /* Text Color */
    --main_Text: white;

    --font_Sub: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --font_Main:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 560 width media query */