:root{
    --header_Margin: 20px;
    --header_border_Radius: 40px;
}

header{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    background-color: var(--light_Blue);
    color: var(--main_Text);
    align-self: center;

    min-height: 50px;

    z-index: 5;
    
}
#name_Rave{
    min-width: 100px;
    font-size: 2rem;
    font-weight: bolder;
    align-self: center;
    /* margin-left: var(--header_Margin); */

    text-align: center;
  
    
}
nav{
    display: flex;
    align-self: center;
    background-color: var(--dark_Blue);

    border-radius: 20px;

    /* margin-right: var(--header_Margin); */
    
}
nav ul{
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;

    padding: 0;
    flex-shrink: 4;
    align-self: center;

    
    
}
nav ul li{
    text-decoration: none;
    text-align: center;
    
    min-width: 100px;

    
    padding: 10px;
    transition: 1s;
    border-radius: var(--header_border_Radius);

    
}

li:hover{
    transition: 0.2s;
    background-color: var(--dark_Blue);

    transform: translatey(15px);
    border-radius: var(--header_border_Radius);

    box-shadow: 0px 0px 0px 3px var(--light_Blue);
    
    
}


a{
    text-decoration: none;
    color: var(--main_Text);
}
