:root{
    --section_Height: 550px;
}
body{
    margin: 0;
}



.hero{
    position: relative;
    min-height: var(--section_Height);
    background-image: linear-gradient(25deg, rgba(33, 28, 106, 0.555) 30%, rgba(33,28,106,0) 70%);
}
.hero_Video{
    height: 100%;
    width: 100%;

    object-fit: cover;
    position: absolute;
    z-index: -5;
    
}




.genre{
    min-height: var(--section_Height);
    background-color: var(--green);
}