::placeholder {
    color: white;
    
}

:root{
    --Bar_Width: 320px;
}
body{
    background-image: url(..\\Resources\\Images\\booking.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size:cover;
    
}
.blur-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(25deg, #1420159f 30%, rgba(33,28,106,0) 60%);
    /* backdrop-filter: blur(2px);  */
    z-index: -1;
}
  
#container{
    display: flex;
    /* align-items: center; */
    /* background-color: white; */
    

    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    min-height: 600px;

    position: relative;

    
}

#form{
    display: flex;
    /* max-height: 630px; */
}




#user_Info{
    display: flex;
    flex-direction: column;
    

    max-width: 400px;
    gap: 10px;
    padding: 30px;
    

    background-color: var(--light_Blue);
    color: white;



}

.inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

    font-size: 1.3rem;

}


#pasigueno{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 180px;
    font-size: 1rem;
    
}



#buttons{
    display: flex;
    justify-content: space-evenly;
}




.checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.test{
    z-index: 4;

}


#info{
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    
    /* max-height: 630px; */

    
}


#nature{
    /* display: none; */
    position: absolute;
    left: 140px;

    width: var(--Bar_Width);
    z-index: 3;

    transition: 0.4s ease-in-out;

    /* opacity: 1; */
}

/* #nature nature_Mark:hover{
    left: 300px;
    transition: 0.3s;
} */

#leisure{
    /* display: block; */
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 630px; */
    /* display: none; */
    position: absolute;
    left: 140px;
    /* top: 50px; */
    
    width: var(--Bar_Width);
    transition: 0.4s ease-in-out;
    /* z-index:2; */


    /* height: 300px; */
    /* overflow-y: scroll; */
    
}

#adventure{
    /* display: block; */
    /* display: none; */
    position: absolute;
    left: 140px;
    top: 220px;
    
    width: var(--Bar_Width);
    transition: 0.4s ease-in-out;
    /* z-index:3; */
}

#Bookmark{
    position: absolute;
    /* z-index: 1; */

    top: 0px;
    left: 320px;

    background-color: var(--dark_Blue);
    color: white;

    writing-mode: vertical-rl;
    /* text-orientation: upright; */
    padding: 10px;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    /* font-weight: bolder; */

    /* padding-top: 70px; */
    /* padding-left: 25px; */

    border-radius: 0px 20px 20px 0px;
    
} 



/* #fade{
    opacity: 1;
    transition: 2s;
} */

