/* cards section */
#cards{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

#cards_Children{
    /* base card size */
        display: flex;
        height: 400px;
        width: 15%; 
        /* this takes the whole space so theres no empty gap */
            flex-grow: 1; 
    


    background-color: black;
    
    align-items: center;
    justify-content: center;
    
    overflow: hidden;
    transition: 1s;
    
    
}

#cards_Children img{
    object-fit: cover;
    /* object-position: top; */

    height: 100%;
    filter: brightness(50%) blur(2px);
    transition: 1s;
}
.cards_Desc{
    position: absolute;
    color: white;
    z-index: 1;
    font-size: 0.5rem;
    transition: 0.3s;

    letter-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    opacity: 0;
    visibility: hidden;
}





#cards_Children:hover{
    transition: 1s;
    width: 150%;
    /* card size hover */

    /* filter: blur(0px) brightness(80%); */
    cursor: pointer;
    /* transform: scale(2, 1); */
    
}
#cards_Children:hover img{
    transition: 1s;
    filter: brightness(100%) blur(0px);
    
    /* transform: scale(2, 1); */
}
#cards_Children:hover .cards_Desc{
    transition: 0.5s;
    font-size: 3rem;
    opacity: 1;
    visibility: visible;
    text-shadow: 5px 5px  black,  0px 0px 10px black;
    color: white;
}


