
:root{
    --header_Margin: 20px;
    --header_border_Radius: 40px;
    --btn_Padding: 40px;
    --fadeOut: 0.5s;
    --fadeIn: 0.2s;
}



header{
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    /* glassmorphism */
    /* background-color: #59b5c3a8; */
    background-color: var(--dark_Blue);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    color: var(--secondary_Text);
    align-self: center;

    min-height: 50px;

    top: 0;
    

    position: fixed;
    width: 100%;
    z-index: 2;

}


#name_Rave{
    display: block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 100px;
    font-size: 2.5rem;
    letter-spacing: 15px;
    font-weight: bolder;
    align-self: center;
    color: var(--secondary_Text);
    /* margin-left: var(--header_Margin); */

    text-align: center;
    transition: 0.3s;
    
}
#name_Rave:hover{
    text-shadow: 5px 5px 0px black;
    /* color: var(--main_Text); */
    transform: scale(1.02);
    border-radius: 50%;
    transition: 0.2s;
}

#nav{
    display: flex;
    align-self: center;
    /* background-color: var(--dark_Blue); */

    border-radius: 20px 20px 0 0;

    /* margin-right: var(--header_Margin); */
    
}
#navul{
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;

    padding: 0;
    flex-shrink: 4;
    align-self: center;

    
    
}
.navulli{
    text-decoration: none;
    text-align: center;
    
    min-width: 100px;
    min-height: 28px;

    
    padding: 10px;
    transition: 0.5s;

    align-items: center;
    /* border-radius: var(--header_border_Radius); */
}

.navulli:hover{
    transition: 0.5s;
    background-color: var(--yellow);
    
    
    
   
    /* transform: translatey(15px);
    border-radius: var(--header_border_Radius);

    box-shadow: 0px 0px 0px 3px var(--light_Blue);        */
}
.navulli:hover a{
    transition: var(--fadeIn);
    color: var(--main_Text);
    /* color: var(--dark_Blue); */
    /* font-weight: bold; */
}
.navulli a{
    transition: var(--fadeOut);
}


a{
    text-decoration: none;
    color: var(--secondary_Text);
}






#attraction_Div{
    position: relative;
    /* min-height: 30px; */
}

#attractions_Main{
    text-decoration: none;
    text-align: center;
    
    min-width: 100px;
    padding: 10px;
    transition: 1s;
    min-height: 28px;
}
#attractions_Main:hover{
    transition: 0.5s;
    background-color: var(--yellow);
}
/* #attractions_Main:hover a{
    color: var(--dark_Blue);
    font-weight: bold;
} */
#attractions_Main a{
    transition: var(--fadeOut);
    
 
}
#attractions_Main:hover a{
    transition: 0.5s;
    color: var(--main_Text);
    
 
}






#attractions_Div:hover .attractions_DivSub{
    
    opacity: 1;
    visibility: visible;


    transition: 0.2s;
    /* background-color: var(--light_Blue); */
    background-color: var(--dark_Blue);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    transform: translatey(1px);
    

    /* box-shadow: 0px 0px 0px 3px var(--light_Blue);    */
   
}

.attractions_DivSub{
    display: flex;
    position: absolute;
    z-index: 1;
    padding: 0;

    list-style: none;
  
    
    
    flex-direction: column;
    

    align-items: center;

    /* border-radius: 0px 0px var(--header_border_Radius) var(--header_border_Radius); */
    
    /* gap: 10px; */
    opacity: 0;
    visibility: hidden;
    transition: 1s ; /* Adjust timing and easing as needed */
    
    transform: translatey(-15px);
    overflow-x: hidden;
    overflow-y: hidden;

    /* glassmorphism */
 
    
}
.elements{
   width: 100%;
   
   padding-top: 20px;
   padding-bottom: 20px;
   
   text-align: center;
   transition: 1s;
   
}
.elements a{
    padding: 20px;
    transition: var(--fadeOut);
 }


.elements:hover{
    transition: 0.5s;
    background-color: var(--yellow);
}

.elements a:hover{
    color: black;
}



.btnBooking{
    text-decoration: none;
    text-align: center;
    
    /* padding-right: var(--btn_Padding);
    padding-left: var(--btn_Padding); */

    
    min-width: 150px;
    transition: var(--fadeOut);

    padding: 0;

    background-color: var(--yellow);
    color: var(--secondary_Text);
    font-weight: bold;
    font-size: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border-radius: 10px; */
    text-decoration: none;
    letter-spacing: 3px;

    background-color: rgba(255, 255, 255, 0); 
    /* color: rgb(255, 255, 255);  */

    border: none;
    border: 2px solid var(--yellow); 
    margin: 5px;
    cursor: pointer;
    /* flex-grow: 1;
    /* border-radius: var(--header_border_Radius); */
}

.btnBooking:hover{
    transition: var(--fadeIn);
    background-color: var(--yellow);
    cursor: pointer;
    color: var(--main_Text);
   
    /* transform: translatey(15px);
    border-radius: var(--header_border_Radius);

    box-shadow: 0px 0px 0px 3px var(--light_Blue);        */
}
.btnBooking:active{
    transition: 0.1;   
    transform: translateY(3px);
}