/* debug lang to */
body{
    background-color: var(--dark_Blue);
}






#stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.3em;

    text-align: center;
    margin: 40px;
}

.stats_Num_Children{
    display: flex;
    background-color: var(--light_Blue);
    padding: 20px;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.statsBox{
    flex-direction: row;
    /* padding: 5px; */
}

#data{
    font-size: 3rem;
}