/* debug lang to */
body{
    background-color: var(--dark_Blue);
}






#stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.3em;

    text-align: center;
}

.stats_Num_Children{
    background-color: var(--light_Blue);
}


